@media (max-width: 1140px) {
    .series-cards-link {
        height: 100%;
        width: 100%;
        max-width: none;
    }

    .series-cards-mini {
        width: 100%;
    }

    .series-cards-mini .series-cards-link {
        width: 48%;
    }

    .series-main {
        height: 100%;
    }
}

@media (max-width: 800px) {
    .series-main h3 {
        font-size: 30px;
    }

    .series-main p {
        font-size: 14px;
        line-height: 15px;
    }

    .series-main .link {
        padding: 12px 29px;
        font-size: 14px;
    }

    .series-main-content {
        gap: 5px;
        padding: 0;
    }
}



@media (max-width: 780px) {
    .series-cards-mini .series-cards-link {
        width: 47.5%;
       
    }
    
    .main-title {
        width: max-content;
        margin: 0 auto 30px;
    }
}

@media (max-width: 768px) {
    .header-nav-list {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.61);
        justify-content: center;
        align-items: center;
        top: -110%;
        left: 0;
        z-index: 999;
        transition: 500ms;
    }

    .header-nav-list a {
        font-size: 30px;
    }

    .burger {
        display: block;
    }

    .burger:hover~.header-nav-list {
        top: 0;
    }
}

@media (max-width: 630px) {
    .series-cards-mini .series-cards-link {
        width: 46%;
    }

    .series-cards-link>img {
        border-radius: 7px;
    }

    .series-cards-mini .series-cards-link .series-cards-link-info {
        border-radius: 4px;
    }

    .series-cards-mini .series-cards-link h3 {
        font-size: 16px;
    }

    .footer .container {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

@media (max-width: 567px) {
    .series-main h3 {
        font-size: 20px;
    }

    .series-main p {
        font-size: 12px;
        line-height: 14px;
    }

    .series-main .link {
        padding: 8px 19px;
        font-size: 12px;
    }
    
    .main-title {
        width: max-content;
        font-size: 28px;
    }
    
    .trailer img {
        width: 100%;
    }
    
    .trailer {
        background: linear-gradient(90deg, #def7ff41 0%, #f4fcff7c 45.64%, rgba(255, 255, 255, 0) 100.72%);
    }
    
    .trailer .container {
       align-items: center; 
    }
    
    .video {
        left: 0;
        right: auto;
    }
}

@media (max-width: 460px) {
    .series-cards-mini .series-cards-link {
        width: 48.5%;
    }

    .series-cards-mini {
        gap: 10px;
    }

    .series-cards {
        gap: 10px;
    }

    .series-main h3 {
        font-size: 15px;
    }

    .series-main p {
        font-size: 10px;
        line-height: 12px;
    }

    .series-main .link {
        padding: 4px 9px;
        font-size: 10px;
    }
    
    .header-content {
        background: url(../img/header-bg-poster.jpg) rgba(7,15, 25, 0.5);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    
    .header-content .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    h1 {
        font-size: 40px;
    }
    
    .header-content .link {
        padding: 19px 29px;
        font-size: 15px;
    }
}

@media (max-width: 370px) {
    .series-cards-mini .series-cards-link {
        width: 48.4%;
    }

    .series-cards-mini .series-cards-link .series-cards-link-info {
        border-radius: 0px;
    }

    .series-cards-mini .series-cards-link-info img {
        width: 20%;
    }

    .coll-cards-link {
        width: 100%;
    }

    .coll-cards-link>img {
        width: 100%;
    }

    .line-1 {
        top: -115%;
    }

    .line-2 {
        bottom: -115%;
    }

    .coll-cards-link-content:hover .line-1 {
        width: 6%;
    }

    .coll-cards-link-content:hover .line-2 {
        width: 6%;
    }

    .series-main h3 {
        font-size: 12px;
    }

    .series-main p {
        font-size: 8px;
        line-height: 10px;
    }

    .series-main .link {
        padding: 2px 6px;
        font-size: 7px;
    }
}

@media (max-width: 342px) {
    .series-cards-mini .series-cards-link {
        width: 48%;
    }

}